<!-- <h1>Mensajes</h1>

<hr>
<div id="chat-mensajes">
  <li class="list-group-item"
      *ngFor="let item of mensajes">
      {{item.de }}: {{item.cuerpo }}

  </li>
</div>

<form (ngSubmit)="enviar()">

  <input type="text" 
  [(ngModel)]="texto" 
  name="texto" 
  placeholder="Mensaje..." 
  autofocus
  class="form-control chat-input">
</form> -->


        <div class="mesgs">
          <div class="msg_history"  id="chat-mensajes" >
        
              <div  *ngFor="let item of mensajes">

                  <div class="outgoing_msg" *ngIf="item.de === ws.usuario._id">
                    <div class="sent_msg">
                      <p>{{item.cuerpo }}</p>
                      <span class="time_date"> {{item.de}}</span>
                    </div>
                  </div>
                  

  


                  <div class="incoming_msg" *ngIf="item.de !== ws.usuario._id">
                    <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                    </div>
                    <div class="received_msg">
                      <div class="received_withd_msg">
                        <p>{{item.cuerpo }}</p>
                        <span class="time_date">{{item.de}}</span>
                      </div>
                    </div>
                  </div>
              
              </div>

                    <div class="alert alert-danger" role="alert" *ngIf="error">
                      {{error}}
                    </div>
          
        
        
          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <form (ngSubmit)="enviar()">
                  <input type="text" class="write_msg" [(ngModel)]="para" name="para" placeholder="Para..." autofocus class="form-control chat-input">
                <input type="text" class="write_msg" [(ngModel)]="texto" name="texto" placeholder="Mensaje..." autofocus class="form-control chat-input">
              </form>

              <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" (click)="enviar()" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>